*{
    box-sizing: border-box;
}


body{
    background-color: black;
    background-image: url(https://images.all-free-download.com/images/graphiclarge/book_ends_311495.jpg); 
    background-repeat: repeat-y;
    /*background-size: cover;*/ 
    color: black; 
    /* background-position: absolute; */
    background-size: 100%;  
}

.answer {
    margin-left: 25px;    
}

section{
    margin-top: 25px; 
    font-size: 12px; 
    max-width: 250px; 
    margin-right: auto;
    margin-left: auto;  
}

input[type='submit'] {
    font-size: 12px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 50px;
    cursor: crosshair;
    background-color: gold;
    color: forestgreen;
    border: 2px solid grey;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;  
    display: block; 
}

input[type='submit']:hover {
    background-color: forestgreen;
    color: gold;
}

.animated-gif{
    width: 225px;
    height: 150px;
    margin: auto;  
}


@media only screen and (min-width: 768px) {

    input[type='submit'] {
        font-size: 28px;
        padding: 10px;
        margin-top: 25px;
        border-radius: 50px;
        cursor: crosshair;
        background-color: gold;
        color: forestgreen;
        border: 2px solid grey;
        text-transform: uppercase;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }

    #title {
        text-align: center;
    }


    section {
        margin-top: 10%; 
        font-size: 30px; 
        max-width: 800px; 
        margin-left: auto;
        margin-right: auto; 
    }


    .animated-gif{
        width: 50%;
        height: 50%;
        margin: auto;  
    }
}